@use "../abstract" as *;

.user__section {
  display: flex;
  color: $font-color;
}
.user__description {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 8rem;
  margin-bottom: 5rem;
}
.user__starter {
  font-size: calcRem(20);
  font-weight: 500;
  line-height: calcRem(6);
  color: $font-color;
  padding: 1rem 0;
}
.user__heading {
  font-size: calcRem(60);
  font-weight: 700;
  color: $active-color;
  margin: 0.5rem 0;
}
.user__qualification {
  font-size: calcRem(24);
  font-weight: 400;
  line-height: calcRem(36);
  color: $secondary;
}
.user__image {
  width: 40%;
  display: flex;
  justify-content: center;
}
.user__photo {
  height: calcRem(695);
}
.btn__hire {
  margin-top: calcRem(48);
  padding: 1rem 0;
}
